<!-- -*-  mode: web; indent-tabs-mode: nil  -*- -->
<template>
    <div class="register">
        <h1>Beacon Client Demo</h1>

        <div v-if="devMode">
            <div>
                <button v-on:click="requestPermissions">Request permissions</button>
            </div>
            <div>
                <button v-on:click="requestSignature">Request signature</button>
            </div>
            <div>
                <button v-on:click="refreshAccounts">Refresh accounts</button>
            </div>
            <div>
                <button v-on:click="removeAllAccounts">Remove all remembered accounts</button>
            </div>
            <div>
                <button v-on:click="removeAllPeers">Remove all peers</button>
            </div>
            <div>
                <button v-on:click="destroy">Destroy and recreate the client</button>
            </div>

        </div>

        <div class="events" v-if="events.length > 0">
            <h2>Events</h2>
            <table class="events">
                <tbody>
                    <tr v-for="(event, i) in events" :key="i" :class="[event.level, (devMode) ? '': 'not-devmode']">
                        <td>{{ formatTimestamp(event.timestamp) }}</td>
                        <td>{{ event.level }}</td>
                        <td>{{ event.message }}</td>
                        <td v-if="devMode">{{ event.data  }}</td>
                    </tr>
                </tbody>
            </table>
            <button v-on:click="clearEvents">clear events</button>
        </div>

        <div v-if="accounts && accounts.length > 0">
            <h2>Tezos Accounts</h2>
            <p>Here are your Tezos wallets currently known by this app.
                Click on an account to make it active.</p>
            <table class="accounts" v-if="accounts">
                <thead>
                    <tr><th>address</th><th>network</th><th>connected at</th><th>status</th></tr>
                </thead>
                <tbody>
                    <tr v-for="account in accounts" :key="account.address"
                        :class="[isActiveAccount(account.accountIdentifier) ? 'active' : 'inactive']"
                        v-on:click="clickAccount(account.accountIdentifier)">
                        <td class="hash" >{{ account.address }}</td>
                        <td>{{ account.network.type }}</td>
                        <td>{{ new Date(account.connectedAt).toLocaleString() }}</td>
                        <td>{{ isActiveAccount(account.accountIdentifier) ? "active" : "" }}</td>
                        <td><button v-on:click="removeAccount(account.accountIdentifier)">remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2>Client data</h2>
            <p v-if="false">client = {{ client }}</p>
            <pre v-if="false">client = {{ JSON.stringify(client, undefined, 2) }}</pre>
            
            <p v-if="message" >message = {{ message }}</p>
            <p v-if="signature">signature = {{ signature }}</p>
            <p v-if="permissions">permissions = {{ permissions }}</p>
        </div>

    </div>
</template>

<script>
 import { DAppClient, NetworkType, BeaconEvent, defaultEventCallbacks } from "@airgap/beacon-sdk";
 import * as crypto from "../crypto.js";

 const networkType = NetworkType.DELPHINET
 
 const signingPrefix = "Tezos Signed Message: ";

 function makeMessage2(date) {
     return signingPrefix + `This is a test message at ${date}`
 }


async function createClient(destroy = false) {
     if (destroy) {
         const client = new DAppClient({ name: "Stub" });
         console.log("client", client);
         await client.destroy()
     }

     return new DAppClient({
         name: "Beacon Client Demo",
         preferredNetwork: networkType,
         eventHandlers: {
             /*
             // Disable several alerts otherwise displaye to user
             [BeaconEvent.SIGN_REQUEST_SUCCESS]: {
                 handler: async (syncInfo) => {
                     console.log("ignoring SIGN_REQUEST_SUCCESS", syncInfo);
                 },
             },
             [BeaconEvent.PERMISSION_REQUEST_SUCCESS]: {
                 handler: async (syncInfo) => {
                     console.log("ignoring PERMISSION_REQUEST_SUCCESS", syncInfo);
                 },
             },
             */
         },
     })
 }


 export default {
     name: 'Register',

     data: function () {
         return {
             permissions: undefined,
             client: undefined,
             accounts: undefined,
             activeAccount: undefined,
             signature: undefined,
             message: undefined,
             devMode: true,
             events: [],
             formatTimestamp: (date) => new Intl.DateTimeFormat("en", { hour12: false, timeStyle: "medium"}).format(date),
         }
     },

     created: async function () {
         // the `data` function can't be async, so we get these reactive values here
         this.client = await createClient();
         await this.refreshAccounts();
     },

     methods: {
         logDebug: function(m, d) {
             if (d === undefined) { console.log(m) } else { console.log(m, d) }
             this.events.push({ level: "debug", message: m, data: d, timestamp: Date.now() })
         },
         logInfo: function(m, d) {
             if (d === undefined) { console.info(m) } else { console.info(m, d) }
             this.events.push({ level: "info", message: m, data: d, timestamp: Date.now() })
         },
         logWarn: function(m, d) {
             if (d === undefined) { console.warn(m) } else { console.warn(m, d) }
             this.events.push({ level: "warn", message: m, data: d, timestamp: Date.now() })
         },
         logError: function(m, d) {
             if (d === undefined) { console.error(m) } else { console.error(m, d) }
             this.events.push({ level: "error", message: m, data: d, timestamp: Date.now() })
         },

         requestPermissions: async function() {
             this.logInfo("Waiting for wallet to give permissions");

             // See https://docs.walletbeacon.io/beacon/02.getting-started-dapp.html#permission-request
             this.permissions = await this.client.requestPermissions({
                 network: { type: networkType }
             }).then(permissions => { this.logInfo("Got permissions", permissions); return permissions; }
             ).catch(err => this.logWarn("Failed to get permissions from wallet", err))

             await this.refreshAccounts();
         },

         requestSignature: async function() {
             if (! this.activeAccount) {
                 this.logWarn("Must have an active wallet before requesting a signature");
                 return
             }

             const dateString = new Date().toISOString().slice(0, -8) + "Z"; // remove seconds and milliseconds
             this.message = makeMessage2(dateString);

             const payload = crypto.msgToBytes(this.message);

             this.logInfo("Requesting signature from wallet", payload);

             const signature = await this.client.requestSignPayload({
                 payload: payload,
             }).then(
                 signature => {
                     this.signature = signature;
                     this.logInfo("Got signature", signature);
                     return signature
                 }
             ).catch(async err => this.logWarn(`error requesting signature`, await err));
             
             await this.refreshAccounts();
         },

         clickAccount: async function(accountIdentifier) {
             await this.refreshAccounts();

             const matching = this.accounts.filter(acct => acct.accountIdentifier === accountIdentifier);
             for (const acct of matching) {
                 if (this.activeAccount && this.activeAccount.accountIdentifier === acct.accountIdentifier) {
                     await this.client.setActiveAccount(undefined);
                 } else {
                     await this.client.setActiveAccount(acct);
                 }
             }
             await this.refreshAccounts();
         },

         removeAccount: async function(accountId) {
             await this.client.removeAccount(accountId);
             await this.refreshAccounts();
         },

         isActiveAccount: function(accountIdentifier) {
             return (this.activeAccount && (this.activeAccount.accountIdentifier === accountIdentifier))
         },

         removeAllAccounts: async function() {
             await this.client.removeAllAccounts()
             this.logInfo("removed all accounts");
             this.permissions = undefined;
             await this.refreshAccounts();
         },

         removeAllPeers: async function() {
             await this.client.removeAllPeers();
             this.logInfo("removed all peers");
             await this.refreshAccounts();
         },

         destroy: async function() {
             await this.client.destroy();
             this.client = await createClient(true);
             console.info("Destroyed and recreated the client");
             await this.refreshAccounts();
         },
         
         refreshAccounts: async function() {
             this.activeAccount = await this.client.getActiveAccount();
             this.accounts = await this.client.getAccounts();
         },

         toggleDevMode: function() { this.devMode = ! this.devMode },

         clearEvents: function() { this.events = [] },
     }
 }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
