<!-- -*-  mode: web; indent-tabs-mode: nil  -*- -->
<template>
    <div id="app">
        <Client />
    </div>
</template>

<script lang="ts" >
 import Client from './components/Client.vue'

 export default {
     name: 'App',
     data: function () {
         return {}
     },
     components: {
         Client
     }
 }
</script>

<style>
 #app {
     font-family: Avenir, Helvetica, Arial, sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     //text-align: center;
     color: #2c3e50;
     margin: 20px;
     font-size: 14pt;
 }

 button.register {
     font-size: 120%;
     background-color: lightblue;
     border-radius: 8px;
 }
 td.hash {
     font-family: Lucida Console, Courier, monospace;
 }
 table.accounts {
     margin-left: 4em;
 }
 table.accounts tr.active {
     background-color: lightgrey;
 }
 table.accounts td {
     padding: 5px;
 }

 .errors h2 {
 }
 .errors li {
     background-color: yellow;
 }

 table.events td {
     padding-left: 10px;
     padding-left: 10px;
     max-width: 800px;
     word-wrap: break-word;
     vertical-align: top;
 }

 table.events tr.debug {
     color: grey;
 }
 table.events tr.debug.not-devmode {
     display: none;
 }

 table.events tr.warn {
     background-color: yellow;
 }
 table.events tr.error {
     color: white;
     background-color: #880000;
 }
</style>
